

<html>
<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->


   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 

  <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>
<body>

  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 shift" style="background-image: linear-gradient(to right,white,rgb(240, 227, 227),#1D8D84,#a5f7f0) ">
  
      <div class="container-fluid">
        
        <ul class="nav navbar-nav">

          
          <li><a><img src="../assets/kanini.png"></a></li> 
          <li><a *ngIf="!l.loggedIn()"  routerLink="login">Login</a></li>
          <li><a *ngIf="!l.loggedIn()"  routerLink="register">Register</a></li>
          <li><a  *ngIf="l.loggedIn()"  routerLink="first-screen"> Kanini Bank</a></li>

          <li><a class="nav-link" style="cursor:pointer" *ngIf="l.loggedIn()"
             (click)="l.logoutUser()">Logout</a>
          </li>


        
        </ul>
        <ul  class="nav navbar-right">
          
        <li><a *ngIf="l.loggedIn()">Welcome {{getitem()}}</a> </li>
        
       
        </ul>
      </div>
    </nav>

    
    
    <div>
     
        <router-outlet></router-outlet>
    </div>
         
</body>
</html>