 img {
    display: block;
    max-width:600px;
    max-height:300px;
    width: 86x;
    height: 35px;

  
}

/*
#style{
    display:block
}
#style1{
    display:none
} */
/*  
nav .container-fluid{
    display:flex;
    flex-direction: row;
    float:left;
}
nav .container-fluid ul{
    display:flex;
    float: left;
}  */

/* body {
margin:0;

              background-image: linear-gradient( #B6E5D8 100%, #1D8D84 100%);

             
          } */



          
     
          
        
      